.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#message{
    font-size: 1.1rem;
}

#spinner {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border: 3px solid var(--clr-accent);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}