.container{
    margin: 1rem;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 1rem;
    overflow: hidden;
    padding: 1rem;
}

.header{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #ffffff;
    box-shadow: var(--shadow);
    border-radius: var(--bd-rad);
}

.workouts, .creators{
    overflow-y: auto;
  
}

.selector{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: var(--bd-rad);
    border: solid 1px var(--gray);
}

.page{
    padding: 0.5rem;
}

.page.active{
    color: #ffffff;
    background: var(--clr-accent);
}

.search-bar{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem;
    max-width: 30rem;
}

.search-bar svg{
    color: var(--gray);
}

.search-bar input[type=text]{
    all: unset;
}